<div class="container1">
    <a *ngIf="back" class="text-primary mx-3" routerLink="/movies"><--Back</a>
    <span routerLink="/movies" routerLinkActive="active" [queryParams]="{'onSale':'true'}" class="watchlist">WatchList</span>  
    <span *ngIf="isadminValid" class="addMovie" routerLink="/addmovie">Add Movie</span></div>
<div class="row">
    <div *ngFor="let movie of movies;index as i" class="col-md-2 col-sm-3 col-6 rounded bg-dark p-2">
        <img [src]="movie.imageUrl" alt="" [routerLink]='["/movie",i]'>
        <h4 class="my-2">{{ movie.title }}</h4>
        <span *ngIf="movie.cost > 0"> <button  class="btn mx-2 rent">Rent</button>{{ movie.cost*70 | currency:'INR':'symbol':'3.0-0'}}</span>
        <!-- <span><button  class="btn mx-2 btn-warning">Free</button></span> -->
        <span><button *ngIf="movie.cost == 0" class="btn mx-2 free">Free</button></span>
    </div>
</div>

