<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

<div class="p-4 mt-5">
    <!-- <h1 appRngif>this is the signup page</h1> -->
    <!-- <div *appRngif="show">
        <h1>this is the signup page</h1>
    </div> -->
    <!-- <form action="" [formGroup]="testForm">
        <div formArrayName="mobileNums">
            <div *ngFor="let num of testForm.controls['mobileNums']['controls'];index as i">
                <input type="text" formControlName="{{ i }}" class="form-control mt-2 w-50">
                <button (click)="removeNumber(i)">remove</button>
            </div>
        </div>
    </form>  
    <button class="btn btn-success" (click)="addNumber()">Add</button> -->

    <!-- <form action="" [formGroup]="userName">
        <input type="text" formControlName="name">
        <p *ngIf="userName.controls['name'].touched && userName.controls['name'].invalid" class="text-danger">required</p>
    </form> -->
</div>
