
<div class="content-modal">
    <div class="title">
        <div class="Header">
            <div class="head">Movie World</div>
            <!-- <div class="close" (click)="close()">&times;</div> -->
        </div>
        <div class="headerInfo">
            100% Telugu Entertainment
        </div>
    </div>
    <div class="enter btn" (click)="close()">Enter</div>
    <div class="body">
        <div class="content">
            Watch & download Movie World Telugu movies in an excellent quality @ smallest file size for smartphones,tablets, PC's.
        </div>
    </div>
</div>
